# Transaction dataset analysis

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
txns=pd.read_csv("transactions.csv")
txns.head()

# The total sales amount across all transactions

In [ ]:
totalsales = txns['t_amt'].sum()
print(totalsales)

# Month with the highest total transaction amount

In [ ]:
txns['t_date'] = pd.to_datetime(txns['t_date'])
txns['month'] = txns['t_date'].dt.month_name()
month_total = txns.groupby('month')['t_amt'].sum()
print(month_total)
print(month_total.idxmax())

# Average transaction amount per customer

In [ ]:
avg_txn = txns.groupby('cust_id')['t_amt'].mean()
print(avg_txn)

# Trend of total sales over months

In [ ]:
trend = txns.groupby('month')['t_amt'].sum()
print(trend)

#  Highest single transaction amount

In [ ]:
high = txns['t_amt'].max()
print(high)

# Service category contributing most to total revenue

In [ ]:
service_total = txns.groupby('services')['t_amt'].sum()
print(service_total)
print(service_total.idxmax())

# Product generating highest revenue

In [ ]:
product_total = txns.groupby('products_used')['t_amt'].sum()
print(product_total)
print(product_total.idxmax())

# Average transaction amount between services

In [ ]:
avg_service = txns.groupby('services')['t_amt'].mean()
print(avg_service)

# Unique customers

In [ ]:
unique_cust = txns['cust_id'].nunique()
print(unique_cust)

# Customers who spent the most

In [ ]:
cust_total = txns.groupby('cust_id')['t_amt'].sum()
print(cust_total.sort_values(ascending=False).head())

#  Average number of transactions per customer

In [ ]:
txn_count = txns.groupby('cust_id').size()
print(txn_count.mean())

# Customers who purchased in multiple services

In [ ]:
multi = txns.groupby('cust_id')['services'].nunique()
print(multi[multi > 1])

# Percentage of repeat buyers

In [ ]:
cust_count = txns['cust_id'].value_counts()
repeat = cust_count[cust_count > 1].count()
total = cust_count.count()
print((repeat / total) * 100)

# Product category with highest total sales

In [ ]:
cat_sales = txns.groupby('services')['t_amt'].sum()
print(cat_sales)
print(cat_sales.idxmax())

# Most popular services by count

In [ ]:
popular = txns['services'].value_counts()
print(popular)

# Most purchased product per service

In [ ]:
prod_count = txns.groupby(['services','products_used']).size()
print(prod_count.groupby('services').idxmax())

# Average transaction amount per product type

In [ ]:
avg_per_product = txns.groupby('products_used')['t_amt'].mean()
print(avg_per_product)

### Services where customers spend significantly more

In [ ]:
avg_by_service = txns.groupby('services')['t_amt'].mean().sort_values(ascending=False)
print(avg_by_service)

### State with the highest total sales

In [ ]:
state_total = txns.groupby('state')['t_amt'].sum().sort_values(ascending=False)
print(state_total)
print("Top state:", state_total.idxmax())

### City with the highest number of transactions

In [ ]:
city_count = txns['city'].value_counts()
print(city_count)
print("Top city:", city_count.idxmax())

### Average spending per transaction in each state

In [ ]:
avg_state = txns.groupby('state')['t_amt'].mean().sort_values(ascending=False)
print(avg_state)

### Services popularity by state (counts)

In [ ]:
pop_by_state = txns.groupby(['state','services']).size().unstack(fill_value=0)
print(pop_by_state)

### States buying the most Outdoor Recreation products

In [ ]:
outdoor = txns[txns['services'] == 'Outdoor Recreation']
outdoor_by_state = outdoor.groupby('state')['t_amt'].sum().sort_values(ascending=False)
print(outdoor_by_state)

### Compare avg spending: California vs Texas

In [ ]:
ca_avg = txns[txns['state']=='California']['t_amt'].mean()
tx_avg = txns[txns['state']=='Texas']['t_amt'].mean()
print("California avg:", ca_avg)
print("Texas avg:", tx_avg)

### Quarter with highest sales

In [ ]:
txns['quarter'] = txns['t_date'].dt.to_period('Q')
quarter_total = txns.groupby('quarter')['t_amt'].sum().sort_values(ascending=False)
print(quarter_total)
print("Top quarter:", quarter_total.idxmax())

### Total sales month by month

In [ ]:
month_total = txns.groupby('month')['t_amt'].sum()
print(month_total)

### Total number of transactions per month

In [ ]:
month_count = txns.groupby('month').size()
print(month_count)

### Seasonality for sports equipment (Team Sports) sales

In [ ]:
sports_sales = txns[txns['services'] == 'Team Sports']
monthly_sports_sales = sports_sales.groupby('month')['t_amt'].sum()
print(monthly_sports_sales)

### Number of transactions done using credit

In [ ]:
credit_count = txns[txns['t_details'].str.lower() == 'credit'].shape[0]
print(credit_count)

### Total revenue from credit transactions

In [ ]:
credit_revenue = txns[txns['t_details'].str.lower() == 'credit']['t_amt'].sum()
print(credit_revenue)

### Average spending: credit vs debit

In [ ]:
avg_by_pay = txns.groupby(txns['t_details'].str.lower())['t_amt'].mean()
print(avg_by_pay)

### States by average transaction

In [ ]:
state_avg = txns.groupby('state')['t_amt'].mean().sort_values(ascending=False)
print("States by avg transaction:")
print(state_avg.head(10))

# cities by average transaction

In [ ]:
city_avg = txns.groupby('city')['t_amt'].mean().sort_values(ascending=False)
print("\nCities by avg transaction:")
print(city_avg.head(10))

### Inventory suggestion for Exercise & Fitness products

In [ ]:
fitness_sales = txns[txns['services'] == 'Exercise & Fitness']
product_sales = fitness_sales.groupby('products_used')['t_amt'].sum().sort_values(ascending=False)
print(product_sales.head(10))

### Product categories with high total sales but low avg transaction amount

In [ ]:
prod_total = txns.groupby('products_used')['t_amt'].sum()
prod_avg = txns.groupby('products_used')['t_amt'].mean()
prod_df = pd.DataFrame({'total': prod_total, 'avg': prod_avg})
threshold = prod_df['total'].quantile(0.75)
candidates = prod_df[(prod_df['total'] >= threshold) & (prod_df['avg'] <= prod_df['avg'].median())]
print(candidates.sort_values('total', ascending=False))

### Underperforming services (low total sales and low avg)

In [ ]:
svc_total = txns.groupby('services')['t_amt'].sum()
svc_avg = txns.groupby('services')['t_amt'].mean()
svc_df = pd.DataFrame({'total': svc_total, 'avg': svc_avg})
low_threshold = svc_df['total'].quantile(0.25)
underperform = svc_df[(svc_df['total'] <= low_threshold) & (svc_df['avg'] <= svc_df['avg'].median())]
print(underperform.sort_values('total'))